
#box {
    border-width:1px;
    border-radius: 5px;
    border-color:white;
    border-style: solid;
    padding: 20px;
    align-content: center;
    margin-left : auto;
    margin-right : auto;
    margin-bottom: 40px;
    background-color: white
}

.onTop{
    position : fixed;
}

.friendBox{
    align-content: center;
}