.Header{
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: left;
    background: #2DB400;
    padding-left : 30px;
    padding-right : 30px;
    color: white;
 }

  
  #color {
      color : white;
  }

  .logo {
      font-size : 25px;
  }

  .link{
      color: white;
  }